<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 목록</title>
</head>
<body>
<h1>사용자 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>로그인ID</th>
        <th>이름</th>
        <th>이메일</th>
        <th>수정</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.loginId}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{${userEditPath}(id=${user.userId})}">수정</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
